<div>
    <div class="d-flex justify-content-around">
        <h2>Productos del carrito</h2>
    </div>
    <div>

        <div class="d-flex justify-content-around">
            <div>

                <table class="table form-control">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Modelo</th>
                            <th>Proveedor</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of listaCarrito">
                            <td> {{ producto.producto }}</td>
                            <td> {{ producto.modelo }}</td>
                            <td> {{ producto.proveedor }}</td>
                            <td> {{ producto.precio | currency }}</td>
                            <td>
                                <app-botonestabla [propertiesBtn]="btnTablaProperties" (eventoEliminar)="eventoEliminar(producto)"></app-botonestabla>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
